.about-container {
  height: 100vh;
  //padding-bottom: 20%;
  padding-right: 10%;
  padding-left: 50%;
}

.about-background-text {
  font-size: 10.862vw;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.03);
  z-index: 1;
  margin-left: 50%;
}

.about-text {
  z-index: 2;
  font-size: 1.5vw;
  line-height: 1.5vw;
  background: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //margin-top: -20%;
  text-align: justify;
}
