@keyframes fadeInUp {

  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  opacity: 0;
  visibility: hidden;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {

  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(40px, 0px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.fade-in-right {
  animation-name: fadeInRight;
  opacity: 0;
  visibility: hidden;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: running;
}

@keyframes fadeInLeft {

  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-40px, 0px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  animation-name: fadeInLeft;
  opacity: 0;
  visibility: hidden;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@media only screen and (max-width: 600px) {

  .fade-in-up {
    animation-delay: 0s;
  }

  @keyframes fadeInRight {

    from {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0px, 0px, 0);
    }

    to {
      visibility: visible;
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInLeft {

    from {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0px, 0px, 0);
    }

    to {
      visibility: visible;
      opacity: 1;
      transform: none;
    }
  }
}
