.landing-page-container {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 20%;
  padding-left: 20%;
}

.introduction-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  z-index: 3;
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 600;
}

.name-text {
  font-weight: 800;
  color: #e31b6d;
}

.know-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 4vw;
  width: 14vw;
  z-index: 3;
  color: #e31b6d;
  font-size: 1.5vw;
  font-weight: 600;
  border: 3px solid #e31b6d;
  cursor: pointer;
}

.know-more-button:hover {
  color: #000000;
  background-color: #e31b6d;
}

@media only screen and (max-width: 600px) {

  .introduction-text {
    font-size: 6vw;
    line-height: 7vw;
  }

  .know-more-button {
    height: 10vw;
    width: 30vw;
    font-size: 4vw;
  }
}
