.introduction-text {
  font-size: 4vw;
  line-height: 5vw;
  background: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-text {
  font-weight: 600;
  -webkit-text-fill-color: #E31B6D;
}

.know-more-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 2vw;
  color: #E31B6D;
  border: 3px solid;
  border-image-source: linear-gradient(315deg, #f67062 0%, #E31B6D 74%);
  border-image-slice: 1;
  cursor: pointer;
}

.know-more-button:hover {
  color: black;
  background-image: linear-gradient(315deg, #f67062 0%, #E31B6D 74%);
}

@media only screen and (max-width: 600px) {

  .introduction-text {
    font-size: 6vw !important;
    line-height: 7vw !important;
    align-items: center;
  }

  .know-more-button {
    height: 10vw !important;
    width: 30vw !important;
    font-size: 4vw !important;
  }

}
